.app__footer {

  background: url("../../assets/bgSML.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.footer {
margin-top: 5rem;
  &__item {
font-size: .9rem;
 margin: 5px;
    background-color: white;
    width: 75px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
      justify-content: center;
      border: 1px solid var(--primary-color);
    a{
      text-decoration: none;
      color: inherit;
    }
    transition: all  0.3s ease-in-out;
    &:hover,
    &:visited {
      cursor: pointer;
    //  border: 1px solid  var(--secondary-color) ;
      color: var(--secondary-color);
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    }
    &:active {
    
      background-color: var(--secondary-color);
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
      color: white;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // &--secondary {
    //   // margin-right: 10%;
    //  transform: translateX(50px);
    //  margin-top:-10px;
    // }
  }
  p.p-text{
margin:5rem 0 3rem 0;
text-align: center;
  }
}